/*in the relwall page, about .b2, .b3, .b4, .b5, .b6, .b7, .content, 
 * for the frequent freshing... I can not change it in chrome...
 * So I test it in the system of our department...
 * u will see the result in https://github.com/hancongcs2c/oobeing/releases囧*/
{background-color:#edf0d1;}
/*in the relwall page, about the whole page*/
{background-color:#ffffff;}
/*in the relwall page, about the profile*/
.profile-small,.profile-middle{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: inset 0 -1px 0 #3333sf;
	-webkit-box-shadow: inset 0 -1px 0 #3333sf;
	-webkit-transition: 0.4s;	
	-webkit-transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
    	-moz-transition: -moz-transform 0.4s ease-out;
}
.profile-small:hover,.profile-middle:hover{
	box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-webkit-box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	transform: rotateZ(360deg);
	-webkit-transform: rotateZ(360deg);
    	-moz-transform: rotateZ(360deg);
}

/*the relwall page, textarea of advanced editor, make the size unresizeable...
 * maybe we can change more style of the editor...it's a little ugly for our 
 * system...*/
.ke-edit-textarea{
	resize:none;
}
/*the button*/
button.close{
	margin-top:10px;
	margin-right:10px;
}

/*I want to make all the pages Personal Center links to with the background-color of #ffffff...
 * how do u think about...
 * So the style of pages we do before and now can be the same easily... 
 * and to the most of users, white is more comfortable than the other warm colors... */


.span12,.span12 .midpage{
	background-color:#ffffff;
}

/*myfriend page*/
.finfo{
        border:0;
        background-color:#dedede;
  	margin:10px;
  	padding:15px 5px;
  	box-shadow:1px 0 1px #ddd; 
  	color:#333333;
  	text-shadow:1px 0 1px #fff;
}
.finfo:hover{
  	background-color:#eeeeee;
	-webkit-transition: background-color 0.4s ease-out;
        transition: background-color 0.4s ease-out;
        -moz-transition: background-color 0.4s ease-out;
}

